
<%= form_with url: session_path  do |f| %>
<div class="signin-form">
    <div class="input-group">
        <%= f.label :email%>
        <%= f.email_field :email%> 
    </div>
    <div class="input-group">
        <%= f.label :password%>
        <%= f.password_field :password%> 
    </div>
    <%= f.submit "Sign In" %>
</div>
<% end %>