<main class="properties">

<% @properties.each do |property| %>
<article class="property">
  <div class="details">
    <%= link_to property.title, property_path(property) %>
    <p><%= property.description %></p>
    <p><%= property.location %></p>
    <p><%= property.amenities %></p>
    <p><%= property.price %></p>
  </div>
</article>
<% end %>
</main>